body,
.container {
  height: 100vh;
}
.title {
  text-align: center;
}
.newTask {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.headers {
  display: flex;
  justify-content: space-evenly;
}

.todo,
.inProgress,
.done {
  width: 33%;
  text-align: center;
}

.kanban-containers {
  display: flex;
  justify-content: space-evenly;
}
.temp {
}

.todoC,
.inProgressC,
.doneC {
  margin-top: 25px;
  border: solid black 1px;
  width: 33%;
  height: 70vh;
  text-align: center;
}

.todoTitle,
.inProgressTitle,
.doneTitle {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.highlight-closed {
  color: red;
}

.highlight-open {
  color: green;
}

ul {
  list-style: none;
}

@media screen and (max-width: 900px) {
  .kanban-containers {
    display: flex;
    flex-direction: column;
  }

  .todoC,
  .inProgressC,
  .doneC {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 25px;
    height: 26vh;
    width: 100%;
    text-align: center;
    border: solid black 1px;
  }

  .headers {
    display: none;
  }

  .todoTitle,
  .inProgressTitle,
  .doneTitle {
    display: block;
    border: solid red 1px;

    text-decoration: underline;
  }

  /* .temp {
    border: solid blue 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .test1 {
    align-items: center;
    justify-content: center;
  } */
}
