body,
.container {
  height: 100vh;
}
.title {
  text-align: center;
}

.headers {
  display: flex;
  justify-content: space-evenly;
}

.todo,
.inProgress,
.done {
  width: 33%;

  text-align: center;
}

.kanban-containers {
  display: flex;
  justify-content: space-evenly;
}

.todoC,
.inProgressC,
.doneC {
  margin-top: 25px;
  width: 33%;
  height: 70vh;
  text-align: center;
}

.todoTitle,
.inProgressTitle,
.doneTitle {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.highlight-closed {
  color: red;
}

.highlight-open {
  color: green;
}

ul {
  list-style: none;
}

@media screen and (max-width: 900px) {
  .kanban-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
  }

  .todoC,
  .inProgressC,
  .doneC {
    margin-top: 25px;
    height: 26vh;
    width: 66vw;
    text-align: center;
  }

  .headers {
    display: none;
  }

  .todoTitle,
  .inProgressTitle,
  .doneTitle {
    display: block;
  }
}
