<body>
  <div class="h1 title">Kanban Board</div>
  <div class="newTask">
    <button class="btn btn-primary" (click)="openTasks()">Add New Task</button>
  </div>
  <app-reactive-tasks
    [hidden]="taskState === 'closed'"
    #form
  ></app-reactive-tasks>
  <div class="container">
    <div class="headers">
      <div class="todo">To Do</div>
      <div class="inProgress">In Progress</div>
      <div class="done">Done</div>
    </div>
    <div class="kanban-containers">
      <div class="todoC">
        <label class="todoTitle" for="">To Do</label>
        <ul class="list-group">
          <a style="cursor: pointer" *ngFor="let task of tasks; let i = index"
            ><div class="taskHolder temp" *ngIf="task.status === 'To Do'">
              <div
                class="test1"
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.title }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.dueDate | date }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.priority }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'highlight-closed insideTask'
                    : 'highlight-open insideTask'
                "
              >
                {{ task.status }}
              </div>
              <ul class="insideTask">
                <li (click)="openEdit(form, i, true)">View</li>
                <li (click)="openEdit(form, i, false)">Edit</li>
                <li (click)="deleteTask(i)">Delete</li>
              </ul>
            </div>
          </a>
        </ul>
      </div>
      <div class="inProgressC">
        <label class="inProgressTitle" for="">In Progress</label>
        <ul class="list-group">
          <a style="cursor: pointer" *ngFor="let task of tasks; let i = index"
            ><div class="taskHolder" *ngIf="task.status === 'In Progress'">
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.title }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.dueDate | date }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.priority }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'highlight-closed insideTask'
                    : 'highlight-open insideTask'
                "
              >
                {{ task.status }}
              </div>
              <ul class="insideTask">
                <li (click)="openEdit(form, i, true)">View</li>
                <li (click)="openEdit(form, i, false)">Edit</li>
                <li (click)="deleteTask(i)">Delete</li>
              </ul>
            </div>
          </a>
        </ul>
      </div>
      <div class="doneC">
        <label class="doneTitle" for="">Done</label>
        <ul class="list-group">
          <a style="cursor: pointer" *ngFor="let task of tasks; let i = index"
            ><div class="taskHolder" *ngIf="task.status === 'Complete'">
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.title }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.dueDate | date }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'strikethrough insideTask'
                    : ' insideTask'
                "
              >
                {{ task.priority }}
              </div>
              <div
                [ngClass]="
                  task.status === 'Complete'
                    ? 'highlight-closed insideTask'
                    : 'highlight-open insideTask'
                "
              >
                {{ task.status }}
              </div>
              <ul class="insideTask">
                <li (click)="openEdit(form, i, true)">View</li>
                <li (click)="openEdit(form, i, false)">Edit</li>
                <li (click)="deleteTask(i)">Delete</li>
              </ul>
            </div>
          </a>
        </ul>
      </div>
    </div>
  </div>
</body>
