<div class="main">
  <div class="title">Task List</div>

  <div class="taskbar">
    <div class="filterbox">
      <label><span class="filtertext">Filters:</span></label>
      <select name="status" id="">
        <option value="status" disabled="true" selected="true">Status</option>
        <option value="toDo">To Do</option>
        <option value="inProgress">In Progress</option>
        <option value="done">Done</option>
      </select>
      <div>
        <label>Due Date: </label>
        <input type="date" name="" id="" />
      </div>
      <select name="priority" id="">
        <option value="Priority" disabled="true" selected="true">
          Priority
        </option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="addTask">
      <button class="btn btn-primary" (click)="openTasks()">
        Add New Task
      </button>
    </div>
  </div>
  <div class="table">
    <div class="titleLine">
      <div class="titleContent">Title</div>
      <div class="titleContent">Due Date</div>
      <div class="titleContent">Priority</div>
      <div class="titleContent">Status</div>
      <div class="titleContent">Actions</div>
    </div>
    <app-tasks class="tabletext"></app-tasks>
  </div>
</div>
