.title {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.filtertext {
  color: #000;
  font-family: SF Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}
