.title {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.filtertext {
  color: #000;
  font-family: SF Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}

.taskbar {
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 50px;
}

.table {
  border: solid 5px gainsboro;
  margin-top: 5px;
  height: 35vw;
}

.titleLine {
  display: flex;
  border-bottom: solid gainsboro 5px;
  padding-left: 25px;
}

.titleLine .titleContent {
  flex: 1;
}
