.box {
  border-right: 1px solid #d2d2d2;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
}

.titletext {
  color: #48c15b;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.it {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titlebox {
  padding-top: 3vh;
  margin-bottom: 15px;
  padding-left: 3vh;
}
.mainbtn {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
}

button {
  width: 202px;
  flex-shrink: 0;
}

.profile {
  display: flex;
  max-width: 244px;
  padding: 11px 16px;
  align-items: flex-end;
  gap: 10px;
  /* flex-direction: column; */
}

.profilePic {
  max-height: 50px;
}

.buttoncontainer {
  margin-bottom: auto;
}

.btn {
  margin-bottom: 5px;
}

.signIn,
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.box {
}
