<div class="row">
  <div class="col-xs-10">
    <!-- <app-tasks-edit *ngIf="taskState === 'open'"></app-tasks-edit> -->

    <app-reactive-tasks
      [hidden]="taskState === 'closed'"
      #form
    ></app-reactive-tasks>

    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let task of tasks; let i = index"
        ><div class="taskHolder">
          <div
            [ngClass]="task.status ? 'strikethrough insideTask' : ' insideTask'"
          >
            {{ task.title }}
          </div>
          <div
            [ngClass]="task.status ? 'strikethrough insideTask' : ' insideTask'"
          >
            {{ task.dueDate }}
          </div>
          <div
            [ngClass]="task.status ? 'strikethrough insideTask' : ' insideTask'"
          >
            {{ task.priority }}
          </div>
          <div
            [ngClass]="
              task.status
                ? 'highlight-closed insideTask'
                : 'highlight-open insideTask'
            "
          >
            {{ task.status ? "Closed" : "Open" }}
          </div>
          <ul class="insideTask">
            <li (click)="openEdit(form, i, true)">View</li>
            <li (click)="openEdit(form, i, false)">Edit</li>
            <li (click)="deleteTask(i)">Delete</li>
          </ul>
        </div>
      </a>
    </ul>
  </div>
</div>
