.taskHolder {
  display: flex;
}

.taskHolder .insideTask {
  width: 20%;
  /* border-right: solid red 1px; */
}

li {
  float: left;
  margin-left: 0;
  padding-right: 10px;
  list-style: none;
}

.strikethrough {
  text-decoration: line-through;
}

.highlight-closed {
  color: red;
}

.highlight-open {
  color: green;
}
@media screen and (max-width: 770px) {
  .tasksss {
  }
}
