<div class="row">
  <div class="col-xs-10">
    <app-tasks-edit *ngIf="taskState === 'open'"></app-tasks-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let tasks of task"
        ><div class="taskHolder">
          <div class="insideTask">
            {{ tasks.title }}
          </div>
          <div class="insideTask">{{ tasks.dueDate }}</div>
          <div class="insideTask">{{ tasks.priority }}</div>
          <div class="insideTask">{{ tasks.status }}</div>
          <ul class="insideTask">
            <li>View</li>
            <li (click)="openEdit()">Edit</li>
            <li>Delete</li>
          </ul>
        </div>
      </a>
    </ul>
  </div>
</div>
