<div class="row">
  <div class="col-xs-10">
    <!-- <app-tasks-edit *ngIf="taskState === 'open'"></app-tasks-edit> -->
    <app-reactive-tasks *ngIf="taskState === 'open'"></app-reactive-tasks>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let tasks of task; let i = index"
        ><div class="taskHolder">
          <div class="insideTask">
            {{ tasks.title }}
          </div>
          <div class="insideTask">{{ tasks.dueDate }}</div>
          <div class="insideTask">{{ tasks.priority }}</div>
          <div class="insideTask">{{ tasks.status }}</div>
          <ul class="insideTask">
            <li (click)="viewTask()">View</li>
            <li (click)="openEdit(i)">Edit</li>
            <li (click)="deleteTask(i)">Delete</li>
          </ul>
        </div>
      </a>
    </ul>
  </div>
</div>
