<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="title">Title</label>
          <input
            formControlName="title"
            type="text"
            class="form-control"
            id="title"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="dueDate">Due Date</label>
          <input
            formControlName="dueDate"
            type="text"
            class="form-control"
            id="dueDate"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="priority">Priority</label>
          <input
            formControlName="priority"
            type="text"
            class="form-control"
            id="priority"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="status">Status</label>
          <input
            formControlName="status"
            value="test"
            type="text"
            class="form-control"
            id="status"
          />
        </div>
        <div class="textarea col-sm-2 form-group">
          <label for="description">Description</label>
          <input
            formControlName="description"
            type="text"
            class="form-control"
            id="description"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-cs-12">
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </div>
    </form>
    <!-- </div>
  <div *ngIf="onFormSubmit">
    <span>{{ this.taskForm.value.title }}</span>
  </div> -->
  </div>
</div>
