<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <div>
            <label for="title">Title</label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              id="title"
              name="title"
              [readOnly]="view"
            />
          </div>
          <div *ngIf="!taskForm.valid && taskForm.get('title').touched">
            <span
              *ngIf="taskForm.get('title').errors?.['required']"
              class="warningText"
            >
              Please Enter a title.
            </span>
          </div>
        </div>
        <div>
          <div class="col-sm-2 form-group">
            <label for="dueDate">Due Date</label>
            <!-- <input
              formControlName="dueDate"
              type="text"
              class="form-control"
              id="dueDate"
              name="dueDate"
              [readOnly]="view"
            /> -->
            <input
              formControlName="dueDate"
              type="date"
              name="dueDate"
              id="dueDate"
              [readOnly]="view"
              class="form-control"
            />
          </div>

          <div *ngIf="!taskForm.valid && taskForm.get('dueDate').touched">
            <span
              *ngIf="taskForm.get('dueDate').errors?.['required']"
              class="warningText"
            >
              Please Enter a Due Date
            </span>
          </div>
        </div>
        <div>
          <div class="col-sm-2 form-group">
            <label for="priority">Priority</label>
            <select
              name="priority"
              id="priority"
              class="form-control"
              formControlName="priority"
            >
              <option value="High" selected="true">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
            <div *ngIf="!taskForm.valid && taskForm.get('priority').touched">
              <span
                *ngIf="taskForm.get('priority').errors?.['required']"
                class="warningText"
              >
                Please Enter a Priority
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-2 form-group">
            <label for="status">Status</label>
            <br />
            <input
              formControlName="status"
              type="checkbox"
              class="form-check-input"
              id="status"
              name="status"
              [readOnly]="view"
            />
          </div>
        </div>
        <div>
          <div class="textarea col-sm-2 form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              type="text"
              rows="5"
              cols="100"
              class="form-control"
              id="description"
              name="description"
              [readOnly]="view"
            ></textarea>
            <div *ngIf="!taskForm.valid && taskForm.get('description').touched">
              <span
                *ngIf="taskForm.get('description').errors?.['required']"
                class="warningText"
              >
                Please Enter a Description
              </span>
              <span
                *ngIf="taskForm.get('description').errors?.['minlength']"
                class="warningText"
              >
                Minimum Length of Three
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-cs-12">
          <button
            *ngIf="view === false"
            class="btn btn-success"
            type="submit"
            [disabled]="!taskForm.valid"
          >
            {{ taskEdit ? "Update" : "Add" }}
          </button>
          <button (click)="onClose()" class="btn btn-danger" type="button">
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
